:root {
    --black: rgb(60, 60, 60);
}

body {
    background-color: rgb(30, 30, 30);
    color: rgb(205, 205, 205);
    margin: 0;

    font-family: Helvetica, sans-serif;
}

main {
    background-color: var(--black);
    
    width: max(80%, 800px);
    margin: 0 auto;
    padding: 2em;

}

header {
    background-color: var(--black);

    width: max(80%, 800px);
    margin: 0 auto;
    margin-bottom: 0.5em;
    padding: 2em;

    text-align: center;
    
}

a, a:visited {
    color: rgb(200, 197, 143);
}